.filter__genre{
  background-color: transparent;
  text-transform: uppercase;
  color: white;
  border: none;
  padding: 1rem 0;
}

.filter__genre--active{
  border-bottom: 1px solid #f65261;
  margin-bottom: -1px;
}
