.modalContainer{
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 50;
}

.modalBody{
  background-color: #232323;
  margin-top: 12rem;
  height: max-content;
  padding: 2rem;
  color: white;
  width: 32rem;
}

.modalHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalTitle{
  text-transform: uppercase;
  font-size: 2rem;
}

.modalClose{
  font-size: 3rem;
  background-color: transparent;
  color: inherit;
  border: none;
}

.modalBody form label {
  display: block;
  color: #f65261;
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 500;
  margin-bottom: .5rem;
}

.modalBody form input, 
.modalBody form select, 
.modalBody form textarea{
  display: block;
  width: 100%;
  padding: .5rem;
  font-size: 1rem;
  background-color: #424242;
  border: none;
  margin: 0;
  color: white;
}

.modalFooter{
  text-align: right;
}
.modalCancel, .modalSubmit{
  padding: .5rem 2rem;
  font-size: 1rem;
  border: none;
  text-transform: uppercase;
}

.modalCancel{
  border: 1px solid #f65261;
  color: #f65261;
  background-color: transparent;
}
.modalSubmit{
  border: 1px solid #f65261;
  color: white;
  background-color: #f65261;
  margin-left: 1rem;
}
