.modalContainer{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
  }
  
  .modalBody{
    background-color: #232323;
    margin-top: 12rem;
    height: max-content;
    padding: 2rem;
    color: white;
  }
  
  .modalHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modalTitle{
    text-transform: uppercase;
    font-size: 2rem;
  }
  
  .modalClose{
    font-size: 3rem;
    background-color: transparent;
    color: inherit;
    border: none;
  }